# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies
node_modules/
jspm_packages/
bower_components/

# Build outputs
dist
dist-ssr
.next
out
build/Release

# Local env files
.env
.env.*
!.env.example
*.local

# Cache files
.npm
.eslintcache
.stylelintcache
.cache
.parcel-cache
.svelte-kit/
.firebase/
.serverless/
.fusebox/
.dynamodb/
web_modules/

# TypeScript
*.tsbuildinfo

# Editors / OS
.vscode/*
!.vscode/extensions.json
.vscode-test
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*